<nav class="bg-gray-100 fixed w-full z-20 top-0 start-0 border-b border-default shadow-sm">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
    <!-- Logo -->
    <a [routerLink]="['home']" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="images/freshcart-logo.svg" class="h-7" alt="freshcart-logo" />
    </a>

    <!-- Right Side -->
    <div class="flex items-center gap-3 md:order-2">
      <!-- Social Icons -->
      <div class="hidden sm:flex items-center gap-2 text-gray-700">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>

      <!-- Auth Buttons -->
      @if (!isLogin) {
        <a
          [routerLink]="['register']"
          routerLinkActive="text-green-600"
          class="text-black hover:text-green-600 font-medium text-sm"
          >Register</a
        >

        <a
          [routerLink]="['login']"
          routerLinkActive="text-green-600"
          class="text-black hover:text-green-600 font-medium text-sm"
          >Login</a
        >
      } @else {
        <a [routerLink]="['wishlist']" class="relative">
          <i class="fa-solid fa-heart text-xl text-red-600 cursor-pointer"></i>
        </a>
        <!-- Cart Button -->
        <button
          type="button"
          class="relative text-white bg-green-700 hover:bg-green-900 rounded-lg text-sm p-2.5"
        >
          <i class="fas fa-cart-shopping"></i>

          <div
            class="absolute inline-flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-red-600 rounded-full -top-2 -end-2"
          >
            {{ cartItem() }}
          </div>
        </button>

        <a
          (click)="authService.logOut()"
          class="cursor-pointer text-black hover:text-red-600 font-medium text-sm"
          >Logout</a
        >
      }

      <!-- Mobile Menu Button -->
      <button
        (click)="toggleMenu()"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-gray-600 rounded-lg md:hidden hover:bg-gray-200"
      >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <!-- Menu Links -->
    <div
      [style.display]="isMenuOpen ? 'block' : null"
      class="hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col md:flex-row md:items-center gap-2 md:gap-6 mt-4 md:mt-0 font-medium bg-gray-100 md:bg-transparent p-4 md:p-0 rounded-lg"
      >
        <li>
          <a
            [routerLink]="['home']"
            routerLinkActive="text-green-600"
            class="block text-black hover:text-green-600 text-center"
            >Home</a
          >
        </li>

        @if (isLogin) {
          <li>
            <a
              [routerLink]="['cart']"
              routerLinkActive="text-green-600"
              class="block text-black hover:text-green-600 text-center"
              >Cart</a
            >
          </li>
        }

        <li>
          <a
            [routerLink]="['products']"
            routerLinkActive="text-green-600"
            class="block text-black hover:text-green-600 text-center"
            >Products</a
          >
        </li>

        <li>
          <a
            [routerLink]="['categories']"
            routerLinkActive="text-green-600"
            class="block text-black hover:text-green-600 text-center"
            >Categories</a
          >
        </li>

        <li>
          <a
            [routerLink]="['brands']"
            routerLinkActive="text-green-600"
            class="block text-black hover:text-green-600 text-center"
            >Brands</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
