<section class="flex flex-wrap">
  <div class="md:w-3/4">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img src="images/slider-image-1.jpeg" class="w-full h-[25rem]" object-cover alt="slider1"
      /></ng-template>
      <ng-template carouselSlide
        ><img src="images/slider-image-2.jpeg" class="w-full h-[25rem]" object-cover alt="slider2"
      /></ng-template>
      <ng-template carouselSlide
        ><img src="images/slider-image-3.jpeg" class="w-full h-[25rem]" object-cover alt="slider3"
      /></ng-template>
    </owl-carousel-o>
  </div>
  <div class="md:w-1/4">
    <img src="images/slider-image-1.jpeg" class="w-full h-[12.5rem]" object-cover alt="slider1" />
    <img src="images/slider-image-2.jpeg" class="w-full h-[12.5rem]" object-cover alt="slider2" />
  </div>
</section>
