@if (forgetPasswordFlag) {
  <section class="w-3/4 mx-auto mt-5">
    <h1 class="font-medium mb-5 text-lg text-green-700">Forget Password :</h1>

    @if (errMsg()) {
      <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        {{ errMsg() }}
      </div>
    }
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPasswordForm()">
      <div class="mb-5">
        <label for="email" class="block mb-1 text-sm font-medium text-heading">email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-700 focus:border-green-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        />
        @if (forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched) {
          <div
            class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
            role="alert"
          >
            @if (forgetPasswordForm.get('email')?.errors?.['required']) {
              <p>email is required</p>
            } @else if (forgetPasswordForm.get('email')?.errors?.['email']) {
              <p>email not valid</p>
            }
          </div>
        }
      </div>

      <button
        [disabled]="forgetPasswordForm.invalid"
        class="btn-main block ms-auto hover:cursor-pointer"
      >
        @if (isLoding()) {
          <span><i class="fas fa-spinner animate-spin"></i></span>
        } @else {
          <span>Send</span>
        }
      </button>
    </form>
  </section>
}

@if (resetCodeFlag) {
  <app-resetcode></app-resetcode>
}
