<app-home-slider></app-home-slider>
<app-categoryslider></app-categoryslider>
<div class="my-6 w-1/2 mx-auto">
  <input
    type="text"
    [(ngModel)]="searchProduct"
    placeholder="Search for products..."
    class="w-full p-2 focus:border-green-700 border border-gray-300 rounded"
  />
</div>
<section class="grid gap-3 my-6 lg:grid-cols-6 md:grid-cols-3 grid-cols-2">
  @for (item of productlist().slice(0, 18) | searchproduct: searchProduct; track item._id) {
    <app-productcard [product]="item"></app-productcard>
  }
</section>
