<section class="w-3/4 mx-auto mb-6">
  <div class="container sm:py-5 md:py-3">
    <h1 class="text-green-600 py-5 text-lg">LogIn Now :</h1>
    @if (errmsg()) {
      <div class="p-1 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        <p>{{ errmsg() }}</p>
      </div>
    }
    <form [formGroup]="logInForm" (ngSubmit)="submitloginform()">
      <div class="mb-3">
        <label for="email" class="block mb-1 text-sm font-medium text-heading">Email:</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow placeholder:text-body"
        />
        @if (logInForm.get('email')?.errors && logInForm.get('email')?.touched) {
          <div
            class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
            role="alert"
          >
            @if (logInForm.get('email')?.errors?.['required']) {
              <p>Email is required</p>
            } @else if (logInForm.get('email')?.errors?.['email']) {
              <p>Please enter a valid email address</p>
            }
          </div>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="block mb-1 text-sm font-medium text-heading">Password:</label>
        <div class="relative">
          <input
            formControlName="password"
            [type]="showPasswordlogIn ? 'text' : 'password'"
            id="password"
            class="border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow placeholder:text-body"
          /><button
            type="button"
            (click)="togglePasswordlogIn()"
            class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500"
          >
            <i
              class="fa-solid hover:cursor-pointer"
              [class.fa-eye]="!showPasswordlogIn"
              [class.fa-eye-slash]="showPasswordlogIn"
            ></i>
          </button>
        </div>
        @if (logInForm.get('password')?.errors && logInForm.get('password')?.touched) {
          <div
            class="p-1 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
            role="alert"
          >
            @if (logInForm.get('password')?.errors?.['required']) {
              <p>Password is required</p>
            } @else if (logInForm.get('password')?.errors?.['pattern']) {
              <p>
                Password must contain at least one uppercase letter, one lowercase letter, and one
                number
              </p>
            }
          </div>
        }
      </div>

      <div class="flex items-center justify-between mb-5">
        <a routerLink="/forgetpassword" class="text-blue-600 text-bold hover:underline"
          >Forget Password</a
        >
        <button class="btn-main block ms-auto hover:cursor-pointer">
          @if (isLoding()) {
            <span><i class="fas fa-spinner animate-spin"></i></span>
          } @else {
            <span>Login</span>
          }
        </button>
      </div>
    </form>
  </div>
</section>
